/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
/*	font-size: 100%; */	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll; /* has to be scroll, not auto */
}
main {
	padding-top: 70px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** Custom Styles and Font Fun **/ 

$base-font: 'Karla', sans-serif;

$peach: #f8dac5;

$pink: #ea9a96;

$beige: #f0d5aa;

$black: #000000;

$white: #FFFFFF;

$min_width: 320px;

$max_width: 1400px;

$min_font: 12px;

$max_font: 45px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$mod_1: 1.1; /* mobile */
$mod_2: 1.3; /* desktop */

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h4 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}


/* General Styles */

* {
	-webkit-font-smoothing: antialiased; 
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
  	@include fluid-type($min_width, $max_width, $min_font, $max_font); /* for responsive font sizes */

}

h1, h2, h3, h4, p {
	-webkit-font-smoothing: antialiased;
	font-family: $base-font;

}

a {
	text-decoration: none;
}

b {
	font-weight: bold;
}

i {
	font-style: italic
}

.hide {
	display:none;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/** Mobile & Tablet **/
@media screen and (max-width: 1028px) {
	body {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll; /* has to be scroll, not auto */
	}

	/** Mobile Nav **/
	nav {
		background-color: $white; 
		padding: 10px 0px;
		width: 100%;

		h1 {
			text-align: center;
			padding: 20px;
			line-height: 1.2em;

			a {
				color: $black;
			}
		}

		.menu {
			text-align: center;
			.menu-item {
				display: inline-block;
				color: $black;
   				padding: 10px;
			}
		}
		
	}

	/** Mobile Header **/ 
	#intro {
		background-color: $white;
		padding: 10px 10px;

		.container {
			width: 80%;
    		margin-left: 10%;
    		margin-right: 10%;

			h2 {
				text-align: center;
				padding: 20px 0px;
				color: $black;
			}

			h3 {
				text-align: left;
				padding: 20px 0px;
				color: $black;
    			margin-left: auto;
    			margin-right: auto;	

    			a {
    				color:$pink;
    			}
			}

			h4 {
			    text-align: center;
			    margin-top: 15px;
			    font-style: italic;
			}


			.grid-wrapper {
				display: grid;
				grid-gap: 10px;
				grid-template-columns: 100%;
				padding-bottom: 40px;	

				.first-pic {
					grid-column: 1;
					grid-row:2;

					img {
						box-shadow: 20px 20px $peach;
						width: 100%;
					}
				}

				.first-info{
					grid-column: 1;
					grid-row:1;
					align-self: center;
				}

				.second-info{
					grid-column: 1;
					grid-row:3;
					align-self: center;				
				}

				.second-pic {
					grid-column: 1;
					grid-row:4;

					img {
						box-shadow: 20px 20px $peach;
						width: 100%;
					}
					
				}

				.third-pic {
					grid-column: 1;
					grid-row:6;

					img {
						box-shadow: 20px 20px $peach;
						width: 100%;
					}
				}

				.third-info{
					grid-column: 1;
					grid-row:5;
					align-self: center;
				}

			}
		}

	}

	.section-divider {
		height: 10px;
		width: 80%;
		margin-left: 10%;
		margin-right:10%;
			&.pink {
			background-color:$pink;
			}

			&.yellow {
			background-color:$beige;
			}
	}


	/** Mobile Portfolio **/
	#portfolio {
		background-color: $white;
		padding: 10px 10px;

		h2 {				
			text-align: center;
			color: $beige;
			margin: 20px 0px;
		}

		h3 {
			text-align: center;
			color: $beige;
			margin: 20px 0px;			
		}

		.container {
			width: 90%; 
    		margin-left: 5%;
    		margin-right: 5%;

				.row {
				  display: flex;
				  flex-direction: row;
				  flex-wrap: wrap;
				  padding: 20px 0px;
				}  

				.column {
				  display: flex;
				  flex-direction: column;
				  flex-basis: 100%;
				}

				.column-caption {
					display: none;
				}

				.mobile-caption {
					flex-grow: 1;

					h3 {
					  	color: $beige;
					  	margin-top: 15px;
				  	}
			
				}

				.overlaycolumn {
				  position: relative;
				  width: 50%;
				}

				.image {
				  display: block;
				  width: 100%;
				  height: auto;
				}

				.overlay {
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  height: 100%;
				  width: 100%;
				  opacity: 0;
				  transition: .5s ease;
				  background-color: $pink;
				}

				.overlaycolumn:hover .overlay {
				  opacity: .9;
				}

				.text {
				  color: $beige;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  -webkit-transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  text-align: center;
				}

				img {
				  max-width: 100%;
				  max-height: 100%;
				  width: auto;
				  height: auto;
				  vertical-align: middle;
				}

		}

	}

	#contact-header {
		color: $pink;
		text-align: center;
		margin-top:40px;
	}

	/** Mobile Footer **/
	footer {
 		background-color: $white;
 		padding: 40px;
 		margin-bottom: 40px;
 		text-align: center;


 		h3 {
			color: $black;
			display: inline-block;
 		}
 		img {
 			display: inline-block;
		    max-width: 50px;
		    vertical-align: middle;
 		}
	}

}


/** Desktop **/
@media screen and (min-width: 1029px) {

	@keyframes wiggle {
		0% { transform: rotate(0deg); }
		80% { transform: rotate(0deg); }
		85% { transform: rotate(5deg); }
		95% { transform: rotate(-5deg); }
		100% { transform: rotate(0deg); }
	}

	/** desktop nav **/
	nav {
		background-image: linear-gradient(90deg, #ffffff 50%, #f8dac5 50%);
		padding: 10px 0px;
		width: 100%;

		h1 {
			text-align: left;
			padding: 30px 30px 0px 30px;
			display: inline-block;
			font-size: 1.2em;
			line-height: 1.2em;

			a {
				color: $black;	
			}

		}

		.menu {
			display: inline-block;
			float: right;
			padding:30px;
			.menu-item {
				display: inline-block;
				color: $black;
   				padding: 10px;
			}
			.menu-item:hover { 
				color: $pink; 
				text-decoration: none; 
			}
		}
		
	}

	/** desktop intro **/
	#intro {
		width: 100%;
		background-image: linear-gradient(90deg, #f8dac5 50%, #FFFFFF 50%);

		.container {
			width: 80%;
    		margin-left: 10%;
    		margin-right: 10%;
    		padding-top: 50px;
			h2 {
				text-align: center;
				padding: 20px 0px;
				color: $black;
			}

			.button-container {
				text-align: center;
				margin-top:20px;
			}

			.button {
				background-color: $pink;
				border: 2px solid;
				border-radius: 10px;
				color: white;
				padding: 20px 34px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				margin: 4px 2px;
				cursor: pointer;
			}

			.grid-wrapper {
				display: grid;
				grid-gap: 20px;
				grid-template-columns: 50% 50%;
				padding-bottom: 40px;
			

				h3 {
					text-align: left;
					padding: 20px;
					color: $black;
					line-height: 1.2em;
	    			a {
	    				color: $pink;
	    			}
	    			a:hover { 
						text-decoration: none; 
					}    			
				}

				h4 {
					font-family: $base-font;
				    text-align: center;
				    margin-top: 25px;
				    font-style: italic;
				}

				.img {
					display: inline-block;
					width: 80%;
				}

				.first-pic {
					grid-column: 1/2;
					grid-row:1;
					img {
						box-shadow: 20px 20px $white;
					}

				}

				.first-info{
					grid-column: 2;
					grid-row:1;
					align-self: center;
				}

				.second-info{
					grid-column: 1/2;
					grid-row:2;
					align-self: center;				
				}

				.second-pic {
					grid-column: 2;
					grid-row:2;
					img {
						box-shadow: 20px 20px $peach;
					}
					
				}

				.third-pic {
					grid-column: 1/2;
					grid-row:3;
					img {
						box-shadow: 20px 20px $white;
					}

				}

				.third-info{
					grid-column: 2;
					grid-row:3;
					align-self: center;
				}
			}

		}


	}


	.section-divider {
		height: 20px;
			&.pink {
			background-color: $pink;
			margin: 20px 0px;

			}

			&.yellow {
			display: none;
			}
	}

	/* destop portfolio section */

	#portfolio {
		margin: 20px;
		border: 20px solid $beige;

		h2 {				
			text-align: center;
			color:$beige;
			padding: 40px 0px 10px 0px;
		}

		h3 {
			font-style: italic;
			text-align: center;
			color:$beige;
			padding: 10px;

		}

		.container {
			width: 80%;
    		margin-left: 10%;
    		margin-right: 10%;

				.row {
				  display: flex;
				  flex-direction: row;
				  flex-wrap: wrap;
				  width: 100%;
				  padding: 50px 0px;
				}

				.column {
				  display: flex;
				  flex-direction: column;
				  flex-basis: 100%;
				  flex: 1;

				  h3 {
				  	color: $beige;
				  	text-align: center; 
				  	margin-top: 25%;

				  	a {
				  		color: $beige;
				  	}
				  }
				}

				.column-caption {
					display: flex;
				}

				.mobile-caption {
					display: none;
				}

				.overlaycolumn {
				  position: relative;
				  width: 50%;
				}

				.image {
				  display: block;
				  width: 100%;
				  height: auto;
				}

				.overlay {
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  height: 100%;
				  width: 100%;
				  opacity: 0;
				  transition: .5s ease;
				  background-color: $pink;
				}

				.overlaycolumn:hover .overlay {
				  opacity: .9;
				}

				.text {
				  color: #ffb034;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  -webkit-transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  text-align: center;
				}

				img {
				  max-width: 100%;
				  max-height: 100%;
				  width: auto;
				  height: auto;
				  vertical-align: middle;
				  box-shadow:20px 20px $beige;
				}

		}

	}


	/* desktop footer */

	#contact-header {
		color: $pink;
		text-align: center;
		margin-top:90px;
	}

	footer {
 		background-color: $white;
 		padding: 40px;
 		margin-bottom: 30px;
 		text-align: center;


 		h3 {
			color: $black;
			display: inline-block;
 		}

 		img {
 			display: inline-block;
		    max-width: 50px;
		    vertical-align: middle;
 		}
	}

}

/* Form */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: black;
  font-size: 18px;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
  font-size: 18px;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #282828;
  font-size: 18px;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #282828;
  font-size: 18px;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 18px;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 18px;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 18px;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 18px;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 80%;
  max-width: 670px;
  margin: 50px auto 100px auto;
}

input {
  font-family: $base-font;  
  font-size: 20px;
  display:block;
  width:100%;
  height: 50px;
  padding: 0px 0px 0px 15px;
  margin: 10px 0px;
  
  background: #ea9a96;
  outline: none;
  color: #282828;
  
  border: solid 2px #ea9a96;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  -webkit-appearance: none;
  border-radius: 0;
}

input:hover {
  background: #f8dac5;
  color: black;
}

textarea {
  display:block;
  width:100%;
  max-width: 100%;
  min-width: 100%;
  height: 110px;
  max-height: 250px;
  padding: 15px 0px 0px 15px;
  margin: 10px 0px;
  
  background: #ea9a96;
  outline: none;
  
  color: #282828;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  
  border: solid 2px #ea9a96;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  -webkit-appearance: none;
  border-radius: 0;
}

textarea:hover {
  background: #f8dac5;
  color: black;
}

#submit {
  display:block;
  width:50%;
  margin: 5px 0px 0px 0px;
  padding: 0;
  
  font-family: 'Karla', sans-serif;  
  font-size: 18px;
  color: #282828;
  
  outline:none;
  cursor: pointer;
  
  border: solid 2px #ea9a96;
  
  -webkit-appearance: none;
  border-radius: 0;

}

#submit:hover {
  color: black;
}