/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	// -webkit-overflow-scrolling: touch;
	// overflow-y: scroll; /* has to be scroll, not auto */
}
main {
	// padding-top: 70px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Custom Styles **/ 

@font-face {
/*  font-family: Roboto;*/
}

// General Styles 
* {
	-webkit-font-smoothing: antialiased; 
}

h2 {
	-webkit-font-smoothing: antialiased;
}

h3 {
	-webkit-font-smoothing: antialiased;
}

h4 {
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

b {
	font-weight: bold;
}

i {
	font-style: italic
}

.hide {
	display:none;
}

/** Mobile & Tablet **/
@media screen and (max-width: 1028px) {
	h2 {
		font-size: 20px;
		line-height: 26px;
	}

	h3 {
		font-size: 12px;
		line-height: 16px;
	}

	p {
		font-size: 14px;
		line-height: 24px;
	}

	body {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll; /* has to be scroll, not auto */
	}

	// Nav
	nav {
		padding: 10px 0px;
		position: fixed;
		width: 100%;
		z-index: 999;

		.left-side {
			width: 50%;
			display: inline-block;
			text-align: center;
		}

		.right-side {
			width: 50%;
			display: inline-block;
			text-align: center;
			float: right;

			#hashtag-four {
				display: none;
			}
		}
	}

	// Top Green Section 
	.green-section {
		padding: 5%;
		background-color: #49c395;
			
		h2 {
			color: #2d765a;
			// margin-top: 50px;
		}

		h3 {
			color: #ffffff;
			margin-top: 20px;
		}

		p {
			color: #ffffff;
			margin: 10px 0px; 
		}

		#book-feature { 
			position: relative;
			top: -35px; 
		}

		#book-feature img {
			width: 100%;
			height: 100%;
		}

		#book-feature span {
			position: absolute;
			top: 5%;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: transparent url(/assets/book-cover.jpg) center center no-repeat;
			background-size: 75%;
			left: 0;
		}

		#on-sale-sparkle {
			display: block;
			margin: auto;
			text-align: center;
		}

		#on-sale-sparkle-2 {
			display: none;
		}

		#pre-order {
			display: block;
			margin: 35px 0;
		}

		#pre-order-b-n {
			display: block;
			margin: 35px 0;
		}

		.indie {
			margin-bottom: 35px;
		}

		.left-side {
			width: 80%;
			display: block;
			margin: auto;
		}
	}

	// Blue Section 
	.blue-section {
		background-color: #0079d9;
		// background: #0079d9 url(/assets/house-drone-illustration.svg) top right no-repeat;
		.wrapper {
			padding: 5%;
		}

		#house-drone {
			display: block;
			margin-left: auto;
			padding-top: 5%;
			width: 75%;
		}

		#about-the-four {
			margin-top: 40px;
			margin-bottom: 15px;
		}

		p {
			color: #ffffff;
			margin: 15px 0px;
		}

		.left-side {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}

	// Yellow Section
	.yellow-section {
		padding: 5%;
		background-color: #f0bd28;

		h2 {
			color: #9e7c17;
			margin-top: 25px;
		}

		h3 {
			color: #ffffff;
			margin: 15px 0px;
		}

		#stopwatch {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

		#stopwatch-2 {
			display: none;
		}

		.left-side {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
	}


	// Last Green Section
	.green-section-two {
		background-color: #49c395;
		background: #49c395 url(/assets/scott_illustration.png) bottom right no-repeat;
		background-size: 85%;
		background-position-x: 175%;
		background-position-y: 90%;

		.wrapper {
			padding: 5% 5% 0% 5%; 
		}
		
		.left-side {
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

		h2 {
			color: #2d765a;
		}

		h3 {
			color: #ffffff;
			margin-bottom: 10px;
		}

		p {
			color: #ffffff;
			margin-top: 20px;
		}

		#pre-order {
			display: block;
			margin: 30px 0px;
		}

		#pre-order-b-n {
			display: block;
			margin: 30px 0;
		}

		#about-the-author {
			margin: auto;
			padding: 5% 0;
			display: block; 
		}

		#scott-illustration {
			float: right;
		}

		.footer-copy {
			width: 80%;
			display: block;
			margin: auto;
			margin-top: 150px;
		}		

		.copyright {
			clear: both;
			padding: 5%;
		}
	}
}

/** Desktop **/
@media screen and (min-width: 1029px) {

	@keyframes wiggle {
		0% { transform: rotate(0deg); }
		80% { transform: rotate(0deg); }
		85% { transform: rotate(5deg); }
		95% { transform: rotate(-5deg); }
		100% { transform: rotate(0deg); }
	}

	/** Nav **/
	nav {
		background-color: #ea9a96 ; /* 0079d9 */
		padding: 10px 0px;
		width: 100%;

		h2 {
			text-align: center;
			padding: 10% 10px;

			a {
				font-family: 'Bungee Shade', cursive;
				color: #f8dac5;
				font-size: 70px;
			}
		}
		
	}

	/** header **/
	#intro {
		background-color: #ffb034;
		padding: 10% 10px;
		width: 100%;

		.container {
			width: 80%;
    		margin-left: 10%;
    		margin-right: 10%;
/*    		border: 5px dotted #f8dac5;
    		border-radius: 15px; */
			h2 {
				text-align: center;
				padding: 20px 0px;
				font-family: 'Hepta Slab', serif;
				color: #fff3eb;
				font-size: 40px;			
			}
			h3 {
				text-align: center;
				padding: 20px 0px;
				font-family: 'Hepta Slab', serif;
				color: #fff3eb;
				font-size: 25px;
				max-width: 800px;
    			margin-left: auto;
    			margin-right: auto;		
			}
		}


	}


	.section-divider {
		height: 20px;
		width: 100%;
			&.pink {
			background-color:#ea9a96;
			}

			&.yellow {
			background-color:#f8dac5;
			}
	}

	#portfolio {
		background-color: #f8dac5;
		padding: 10% 10px;
		width: 100%;

		h2 {				
			font-family: 'Hepta Slab', serif;
			text-align: center;
			color:#ffb034;
			font-size: 40px;
			margin-bottom: 40px;
		}

		.container {
			width: 80%;
    		margin-left: 10%;
    		margin-right: 10%;

				.row {
				  display: flex;
				  flex-direction: row;
				  flex-wrap: wrap;
				  width: 100%;
				  padding: 50px 0px;
				}

				.column {
				  display: flex;
				  flex-direction: column;
				  flex-basis: 100%;
				  flex: 1;

				  h3 {
					font-family: 'Hepta Slab', serif;
				  	font-size: 30px;
				  	color: #ffb034;
				  	text-align: center; 
				  	margin-top: 25%;
				  }
				}

				.overlaycolumn {
				  position: relative;
				  width: 50%;
				}

				.image {
				  display: block;
				  width: 100%;
				  height: auto;
				}

				.overlay {
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  height: 100%;
				  width: 100%;
				  opacity: 0;
				  transition: .5s ease;
				  background-color: #ea9a96;
				}

				.overlaycolumn:hover .overlay {
				  opacity: .9;
				}

				.text {
				  color: #ffb034;
				  font-size: 20px;
				  font-family: 'Roboto', sanserif;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  -webkit-transform: translate(-50%, -50%);
				  -ms-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
				  text-align: center;
				}

				img {
				  max-width: 100%;
				  max-height: 100%;
				  width: auto;
				  height: auto;
				  vertical-align: middle;
				}

		}

	}

	footer {
 		background-color: #e78a48;
 		padding: 40px;

 		h3 {
			font-family: 'Hepta Slab', serif;
			text-align: center;
			color:#f8dac5;
			font-size: 20px;
			margin-bottom: 40px;

 		}
	}


	


}